.fs-28 {
  font-size: 28px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.rem-1-125 {
  font-size: 1.125rem; //18px
}

.rem-1 {
  font-size: 1rem; //16px
}

.rem-0-875 {
  font-size: 0.875rem; //
}

b {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.em-18 {
  font-size: 1.125em;
}

.em-16 {
  font-size: 1em;
}

.em-19 {
  font-size: 1.1875em;
  line-height: 1.35em;
}

.c-p {
  color: $ols-primary;
}

.c-d {
  color: $ols-t-dark;
}
