$ols-primary: #4e45d1;
$ols-primary-tint: #6960e1;
$ols-primary-tint-2: #cec3f0;
$ols-secondary: #ff6785;
$ols-t-lightGrey: #c2c2c2;
$ols-t-lightGrey-2: #b0b0b0;
$ols-t-lightGrey-darken: #b0b0b0;
$ols-t-white: #fcfcfc;
$ols-t-white-darken: #f3f3f3;
$ols-t-darkGrey: #4a4a4a;
$ols-t-dark: #1d1d1d;

$stepper-step-step-font-size: 1.125em;
$stepper-step-step-height: 39px;
$stepper-step-step-min-width: 39px;
$stepper-step-step-width: 39px;
